.homeimg{
    width: 50%;
}
.homeimg img{
    width: 100%;
}
.Homecontent{
    width: 50%;
    flex-direction: column;
}
.homebtn{
    width: 30%;
    background: #f4f5f8!important;
    border: 1px solid #000!important;
}
.book{
    width: 100%;
}
.bookbtn{
    background: #f4f5f8!important;
    border: 1px solid black!important;
}